@charset "UTF-8";
body, html { font-family: "Noto Sans KR", sans-serif; }
h1, h2, h3 { font-weight:600; }
h4, h5, h6 { font-weight:400; }
#header { clear:both; width:auto; min-width:1300px; height:160px; }
body { clear:both; width: auto; min-width:800px;  }
.wrapper a img { margin-left: 50px; float:left;}
.wrapper {display: flex;}
.menu { display: flex; }
.dp1 { line-height:70px; text-align:center; }
.menu li a{ height:90px; padding: 0 30px; }
#gnb { clear:both;
	width:1200%;
	min-width:800px;
}

#gnb a { text-decoration:none;}
#gnb ul { list-style:none; }
#gnb .sub_menu { display:none; }
#gnb .item { float:right; width:25%; position:relative; }
#gnb .item:hover .sub_menu { display: block; width:100% }
#gnb .item:hover a.dp1 {  }
#gnb .item .sub_menu li { margin:0; text-indent:50px; line-height:auto;  width:25%;
background-color:#659ffc; }
#gnb .item .sub_menu li a { color:#fff; }
#contents { clear:both; }


.item a { color: #333; }